<div>
  <div
    class="grid grid-cols-2 container mx-auto rounded-lg m-16 border h-[743px]"
  >
    <!-- image -->
    <div class="col-span-1 h-full bg-blue rounded-l-lg">
      <div class="text-white uppercase p-10 text-xl">mybook</div>
      <div class="text-white flex flex-col items-center">
        <img src="../../../assets/images/Artboard 15@2x 1.svg" />
        <p class="text-lg">Welcome to MYBOOK</p>
        <p class="text-sm">There is no friend as loyal as a book.</p>
      </div>
    </div>

    <!-- sign in -->
    <div class="col-span-1 flex flex-col items-center justify-center">
      <div>
        <div class="flex flex-col items-center">
          <img src="../../../assets/images/Group 7579.svg" alt="" />
          <p class="uppercase text-4xl">welcome</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div>
            <div class="relative mb-3 mt-8 text-center">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
              >
                <img src="../../../assets/images/icon.svg" alt="" />
              </div>
              <input
                formControlName="email"
                type="text"
                id="input-group-1"
                class="border border-gray-300 text-gray-900 rounded-lg"
                placeholder="Email"
              />
            </div>

            <div class="relative mb-6 text-center">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
              >
                <img src="../../../assets/images/Group.svg" alt="" />
              </div>
              <input
                type="password"
                formControlName="password"
                placeholder="Password"
                id="input-group-1"
                class="border border-gray-300 text-gray-900 rounded-lg"
              />
            </div>

            <div class="w-full rounded-lg bg-btnBg text-white text-center py-1.5">
              <button type="submit">Log in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
