/* .homepageBg {
  background: url("../../../assets/images/Image Hero.svg");
  height: 613px;
  width: 100%;
  background-size: contain;
  border: 2px solid black;
  background-repeat: no-repeat;
} */
