<div class="w-full h-screen">
  <div class="flex justify-between">
    <div class="pt-52 pl-40">
      <div class="uppercase text-[75px]">
        <p>all books</p>
      </div>

      <button class="bg-btnYellow py-1.5 px-8 rounded-xl mt-10">
        <p class="capitalize font-light text-[25px]">+ add new book</p>
      </button>
    </div>

    <div>
      <img src="../../../assets/images/Group 7584.svg" alt="" />
    </div>
  </div>

  <!-- content body -->
  <div>
    <!-- <div class="bg-contentBg h-screen relative">
        <div class="bg-white absolute mt-10">
          <div class="">New Books</div>
        </div>
      </div> -->
  </div>
</div>
